@use '../abstract/variable';

.font-ta{
    font-family: variable.$font-tamil;
}

.color-animate{
    animation: color-change 10s infinite;
    transition: 500ms;
}

.text-uppercase{
    text-transform: uppercase;
}

.line{
    width: 5rem;
    height: 0.5rem;
    border-radius: 6px;
    margin: 30px auto;
    background: linear-gradient(to right, #e24997, #2d2ed4);
}