.hero-area{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8rem;
    min-height: calc(100vh - 80px);

    &--content{
        max-width: 34rem;
    }

    &--title{
        font-size: 3rem;
        font-weight: 600;
    }

    &--desc{
        margin-top: 2rem;
        font-size: 1.2rem;
        line-height: 1.8;
        color: #808080;
    }
}